.login_container {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    padding: 0 1rem;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 1rem;
}

.login_card {
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    min-width: 320px;
}

.image_section {
    display: none;
}

.image_content p {
    backdrop-filter: blur(180px px);
    background: rgba(32, 211, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    padding: .5rem;
}

.form_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.form_title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.form_title h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.form_title p {
    color: var(--text-blur);
    font-size: 0.95rem;
    line-height: 1.5;
}

form {
    width: 100%;
}

.login_form{
    width: 90%;
}


.forgot-password {
    text-align: center;
    margin: .5rem;
}

.forgot-password a {
    text-decoration: none;
    color: var(--light-accent);
}

.btn {
    display: block;
    width: 100%;
    margin: 20px 0 12px;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn_login {
    background-color: var(--primary-color);
    color: var(--text-primary);
}



.invalid {
    border-bottom: 1px solid var(--error-color) !important;
    box-shadow: 0 1px 0 0 var(--error-color) !important;
}

@media only screen and (min-width:680px) {

    .image_section {
        background-color: var(--light-accent);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
        position: relative;
        color: #ffffff;
        background-image: url('../assets/gandomilk.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
}