.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: var(--secondary-color);
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btns a {
    text-decoration: none;
    color: var(--primary-color);
}

button {
    font-size: 16px;
    border: none;
    background: none;
}

.btns a:hover,
.btns button:hover {
    color: var(--accent-color);
}